= simple_form_for(@album) do |f|
  = f.error_notification
  .form-inputs
    = f.association :category

  .form-inputs
    = f.input :name
 
  .form-inputs
    = f.input :effect,collection:[['照片', 'photo'] ,['视频','video']]

  .form-inputs
    = f.input :cover,as: :file

  .form-inputs
    = f.input :pcover,as: :file

  .form-inputs 
    = f.input :top,as: :boolean

  .form-inputs
    = f.input :recommend,as: :boolean
    
  .form-actions
    = f.button :submit,:class=>"btn btn-default"
