- unless notice.nil?
  %p
    .alert.alert-success#notice= notice

%p
  = image_tag @album.cover_url(:normal),:class=>"img-thumbnail"
%p
  %b 图集名称:
  = @album.name
  = "[已置顶]" if @album.top
  = "[已推荐]" if @album.recommend
%p
  %b 图集分类:
  = @album.category.name
%p
  %b 图集性质:
  = @album.effect
%p
  %b 图集素材:

  
- @materials_arr.each do |materials|
  .row
    - materials.each do |material|
      - if material.present?
        = render "booth",:material=>material
