.col-sm-6.col-md-4
  .thumbnail
    - if photogenic?(material)
      = image_tag material.image.url(:thumb)
    - else
      = link_to image_tag(material.poster.url(:thumb)),"#",:onclick=>"play_video('#{material.video}');$('#videoModal').modal('show')" 
  .caption
    %p 
      - if photogenic?(material)
        = "属于#{material.album.name}图集（相片）"
      - else
        = "属于#{material.album.name}图集（视频）"
    %p
      = material.description
    %p
      = link_to '修改', edit_material_path(material),:class=>"btn btn-primary",:role=>"button"
      = link_to '删除', material, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>"btn btn-default",:role=>"button"
      