= simple_form_for(@material) do |f|
  = f.error_notification

  .form-inputs
    = f.association :album
    = f.input :description,:class=>"form-control",:placeholder=>"图片描述",:label=>false,:input_html => { 'rows' => 4 }
    = f.input :image,as: :file
    = f.input :video,as: :file
    = f.input :poster,as: :file
   

  .form-actions
    = f.button :submit,:class=>"btn btn-default"
    = link_to '删除', @material, :method => :delete, :data => { :confirm => '确定删除吗?' },:class=>"btn btn-default",:role=>"button"