!!!
%html
  %head
    %title 怒放传媒管理页面
    = stylesheet_link_tag "application", "support/"+controller_name, :media=>"all"
    = javascript_include_tag "application","support/"+controller_name
    = csrf_meta_tags
    :sass
      body
        padding-top: 60px
        padding-bottom: 40px
      .sidebar-nav
        padding: 9px
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %button{:type=>"button",:class=>"navbar-toggle","data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand BLOOM
        .navbar-collapse.collapse   
          = render_menu_items("/support/categories","/support/albums","/support/materials")     
          %p.navbar-text.pull-right
            = link_to("退出",destroy_user_session_path,:class=>"navbar-link",:method=>"DELETE")
    .container
      .row
        .col-md-2
          = render '/support/application/sidebar'
        .col-md-10
          = yield

